* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('./assets/images/background.png');
    background-attachment: fixed;
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;
}

#app-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

#title-container {
    padding: 1.75rem;
}

#title {
    font-size: 2rem;
    color: #ffffff;
}

#app-body {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    color: #000;
    padding: 3rem 5rem;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .10);
    backdrop-filter: blur(2px);
}

.row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    align-items: flex-start;
    margin-bottom: 1rem;
}

.btn {
    padding: 0.75rem 1.25rem;
    font-size: 1.25rem;
    font-weight: 600;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

#submit-btn {
    background-color: #FFDCB6;
    color: #9384D1;
    margin-right: 2rem;
}

#clear-btn {
    background-color: #FF7D7D;
    color: #ffffff;
    display: none;
}

#submit-btn:hover {
    background-color: #ffdcb6de;
}

.app-text {
    font-size: 1.25rem;
    color: #FEDDBE;
    font-weight: 600;
    margin-bottom: 8px;
}

.text-box {
    outline: none;
    border: none;
    background: none;
    border: 1px solid #F5EFE7;
    font-size: 1.25rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    color: #F5EFE7;
    border-radius: 4px;
}

#result-container {
    display: none;
}

.salary {
    color: #F5EFE7;
    margin-left: 8px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.cta-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem 0;
}

.salary-row{
    margin-bottom: 0px;
}

/** Breakpoints:
  sm: min-width: 640px;
  md: min-width: 768px;
  lg: min-width: 1024px;
  xl: min-width: 1280px;
  2xl: min-width: 1536px;
**/

@media (min-width: 768px) {
    #app-body {
        padding: 3rem 7rem;
    }
}

@media (min-width: 1280px) {
    #app-body {
        padding: 3rem 12rem;
    }
}